<form action="/mongo/insert" method="post">
  Movie Name: <input name="name"/></br>
  <textarea name="desc"></textarea></br>
  Rating: <input type="number" name="rating"/></br>
  Stars: <input name="stars"/></br>
  Release Date: <input type="date" name="date"/></br>
  <input type="submit"/>
</form>
